* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #cce6ff;
    font-family: "Bangers", cursive;
}

img,
embed,
object,
video {
    max-width: 100%;
}

header {
    border-bottom: 4px solid #bfbfbf;
    padding:10px 0;
}

h1,
h2,
h3,
h4,
h5 {
    letter-spacing: 2px;
}

h1,
h2 {
    font-weight: bold;
}

h1 {
    font-size: 3.2em;
    margin-top: 40px;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2.4em;
}

h4  {
    font-size: 1.8em;
}

p {
    font-family: "Boogaloo", cursive;
    font-size: 1.75em;
    margin: 0 15px 10px;
}

a {
    color: #000;
}

#hero {
    max-height: 500px;
    padding-top: 10px;
    width: 100%;
}

#logo {
    border-radius: 25px;
    height: auto;
    margin-top: 20px;
    max-height: 125px;
    max-width: 175px;
    width: auto;
}

.center-window {
    margin-bottom: 20px;
}

.window {
    display: flex;
    flex-wrap: wrap;
}

.window-panel {
    height: 250px;
    max-width: 400px;
    width: 100%;
    margin-bottom: 10px;
}

.big-pic {
    height: 500px;
    width: 100%;
}

.no-padrl {
    padding-left: 0;
    padding-right: 0;
}

.basic-pad {
    padding: 5px 15px 5px 15px;
}

footer {
    background: #bfbfbf;
    padding: 10px;
    margin-top: 15px;
}

.footer-logo {
    min-width: 48px;
    min-height: 48px;
    padding: 5px;
}

.small-display{
    text-align: center;
}

/*Media Queries*/

@media (min-width: 768px) {
  .col-md-4 {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
    h1,
    h4 {
        text-align: center;
    }
    #logo {
        display: none;
    }
    .window-panel {
        width: 80%;
        height: auto;
        max-height: 200px;
        margin-left: 10%;
    }
  .footer-logo {
    height: 48px;
    width: 48px;
  }
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .center-window {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 481px) {
    h1,
    h4 {
        text-align: right;
    }
    #logo {
        float: left;
        padding-bottom: 10px;
    }
    .window-panel {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
  .window-panel {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .col-md-4 {
    width: 33.33%;
  }
}