@media (min-width: 768px) {
  .col-md-4 {
    width: 50%;
  }
}

@media screen and (max-width: 449px) {
	h1,
	h4 {
		text-align: center;
	}
	#logo {
		display: none;
	}
	.window-panel {
		width: 80%;
		height: auto;
		max-height: 200px;
		margin-left: 10%;
	}
  .footer-logo {
  	height: 48px;
  	width: 48px;
  }
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .center-window {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 450px) {
	h1,
	h4 {
		text-align: right;
	}
	#logo {
		float: left;
	}
	.window-panel {
		width: 100%;
	}
}

@media screen and (min-width: 992px) {
  .window-panel {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .col-md-4 {
    width: 33.33%;
  }
}